{% extends 'base.html' %}
{% block title %} YelpHelper {% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <div id="root"></div>

    <script src="/static/js/components/errorMessage.jsx" type="text/jsx"></script>
    <script src="/static/js/components/loginForm.jsx" type="text/jsx"></script>
    <script src="/static/js/components/newUserForm.jsx" type="text/jsx"></script>
    <script src="/static/js/login.jsx" type="text/jsx"></script>
    <script src="/static/js/components/header.jsx" type="text/jsx"></script>
    <script src="/static/js/homepage.jsx" type="text/jsx"></script>
{% endblock %}