{% extends 'base.html' %}
{% block title %} YelpHelper {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<div id='business-quiz'>
    <b id='business-name'>{{ business.name }}</b>
    <ul id='business-info'>
        <li>Number of Yelp Reviews: {{ business.review_count }}</li>
        <li>Number of Yelp Stars: {{ business.yelp_rating }}</li>
    </ul>
    <form id='business-score'>
        <select name="business_score">
            <option value="0">Absolutely not</option>
            <option value="2">Maybe</option>
            <option value="3">Looks Good!</option>
            <option value="5">This is the place for sure!!!</option>
        </select>
        <input type='submit'>
    </form>
</div>
<script src="/static/js/quiz.js"></script>
{% endblock %}
