{% extends 'base.html' %}
{% block title %} YelpHelper {% endblock %}

{% block head %}
    <script
    defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK2MfjfGqyN9RhjvbXtMK369AX5uKGTfw&libraries=map">
  </script>
{% endblock %}

{% block body %}
    <div id="root"></div>
    
    <script src="/static/js/components/errorMessage.jsx" type="text/jsx"></script>
    <script src="/static/js/components/quizMap.jsx" type="text/jsx"></script>
    <script src="/static/js/components/business.jsx" type="text/jsx"></script>
    <script src="/static/js/quiz.jsx" type="text/jsx"></script>
{% endblock %}