{% extends 'base.html' %}

{% block head %}
    <!-- defer - run at the very end. async - run the script in the background, don't block me (no guarantees about when its run) -->
    <script
    defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK2MfjfGqyN9RhjvbXtMK369AX5uKGTfw&libraries=map">
  </script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block body %}
    <div id="root"></div>

    <script src="/static/js/components/errorMessage.jsx" type="text/jsx"></script>
    <script src="/static/js/components/map.jsx" type="text/jsx"></script>
    <script src="/static/js/waitingRoomStart.jsx" type="text/jsx"></script>


{% endblock %}